.waiting-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting-header{
    font-size: 70px;
}

.waiting-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting-spinner{
    width: 120px;
}

.userLeft-button, .toomany-button{
    border: none;
    outline: none;
    width: 200px;
    height: 45px;
    margin-top: 40px;
    background-color: #4d79ff;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    opacity: .7;
    transition: .3s;
}

.userLeft-button:hover, .toomany-button:hover{
    opacity: 1;
}

.yourTurnButton-false{
    pointer-events: none;
}

.yourTurnText-O, .yourTurnText-X, .yourTurnText-tie{
    display: none;
}

.winner-null{
    display: none;
}

.winner-tie{
    display: none;
}

.playAgainButton-X, .playAgainButton-O, .playAgainButton-tie{
    border: none;
    outline: none;
    width: 200px;
    height: 45px;
    background-color: #4d79ff;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    opacity: .7;
    transition: .3s;
    visibility: visible;
}

.playAgainButton-X:hover, .playAgainButton-O:hover, .playAgainButton-tie:hover{
    opacity: 1;
}

.playAgainButton-null{
    visibility: hidden;
    pointer-events: none;
}

.tieText-null, .tieText-X, .tieText-O{
    display: none;
}
