.squares{
    color: black;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 13vw;
    border:.1vw solid rgb(0, 0, 0);
    
    
    height:24vw;
    width: 24vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.squares:active{
    font-size: 11vw;
    align-items: center;
}

.X, .O{
    color: black;
}

.board {
    
    width: 73vw;
    height: 73vw;
    
    margin: 0 auto;
    background-color:transparent;
    color: black;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    
    border:1vw solid black;
    
    justify-self: center;
    
    
}

.board-container{
    
    
}

  .board-header{
      font-size: 60px;
  }

  .turn-text{
      font-size: 30px;
  }

  .button-false{
      pointer-events: none;
  }

  div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

   /* MOBILE */