.squares{
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
    outline: none;
    font-size: 90px;
}

.X, .O{
    color: black;
}

.board {
    
    width: 50vw;
    height: 50vw;
    
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    
    border:0.5vw solid black;
    
    justify-self: center;
    
    
}

  .board-container{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    
    
}

  .board-header{
      font-size: 60px;
  }

  .turn-text{
      font-size: 30px;
  }

  .button-false{
      pointer-events: none;
  }

   /* MOBILE */