.waiting-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting-header{
    font-size: 70px;
}

.waiting-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting-spinner{
    width: 120px;
}

.userLeft-button, .toomany-button{
    border: none;
    outline: none;
    width: 200px;
    height: 45px;
    margin-top: 40px;
    background-color: #4d79ff;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    opacity: .7;
    transition: .3s;
}

.userLeft-button:hover, .toomany-button:hover{
    opacity: 1;
}

.yourTurnButton-false{
    pointer-events: none;
}

.yourTurnText-null{
    margin-bottom: -10px;
}

.yourTurnText-O, .yourTurnText-X, .yourTurnText-tie{
    display: none;
}

.winner-null{
    display: none;
}

.winner-tie{
    display: none;
}

.winner-X, .winner-O, .tieText-tie{
    visibility: hidden;
    animation: show-animation 2.0s ease-in 0s;
}

@keyframes show-animation{
    0%{
        opacity: 0;
        visibility: visible;
    }
    50%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tieText-null, .tieText-X, .tieText-O{
    display: none;
}

.scoreboard-body{
    display: flex;
}

.win-board-body, .loss-board-body, .tie-board-body{
    margin: 20px;
    font-size: 12px;
}

.game{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: gray;
}

   /* MOBILE */
   @media(max-width:700px){
    .win-board-body, .loss-board-body, .tie-board-body{
        margin-top: 0px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
    }
  
  
  }